.primary{
    background-color: #0067F4;
    color: #fff;
}
h1{
    font-size: 5rem;
    font-weight: bold;
}

h3{
    font-size: 2rem;
    font-weight: bold;
}
.wrapper{
    max-height: 93vh;
    overflow: hidden;
}

.container{
    padding: 0;
    margin: 1%;
    height: 100%;
    display: flex;
    padding-top: 10%;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

}

  #glob1{
    display: flex;
    transform-origin: 100%, 0;
  }
  #globe{
      transform: translate(45%,-38%) rotate(20deg);
    }