a{
  text-decoration: none;
}


.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;


  color: white;
  background-color: #0067F4;

}

.nav-bar-link{
  margin: 10px;
}

.sign-in{
  display: flex;
  align-items: center;
}

